body{
    min-height: 100vh;
}

#app{
    min-height: 80vh;
}

.product-row{
    transition: all .2s ease-in-out;
}

.custom-card{
    display: flex;
    flex-direction: column;
    width: 270px;
    box-shadow: 0.5px 0.5px 10px rgb(228, 227, 227);
    border-radius: 0.25rem;
}

.product-row:hover{
    box-shadow: 2px 1px 10px rgb(212, 211, 211);
}

.discussion-row{
    transition: all .2s ease-in-out;
    border-left: 0px solid rgb(204, 202, 202);
    cursor: pointer;
}

.discussion-row:hover{
    
    border-left: 5px solid rgb(204, 202, 202)
}

.dropdown-menu{
    min-width: 17rem!important;
}

.btn-like:active{
    /* transition: all .2s ease-in-out;
    transform: scale(1.5); */
    animation-name: like-icon;
    animation-duration: .9s;
}

.btn-like-clicked{
    color: rgb(121, 224, 73)!important;
}

@keyframes like-icon{
    0% {
       transform: translateY(0px);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(-20px);
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.likes-users-names{
    display: none;
    position: absolute;
    flex-direction: column;
    width: 150px;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}

.likeContSpan{
    cursor: pointer;
}

.footer{
    min-height: 70px;
    width: 100%;
    background-color: rgba(235, 41, 41, 0.9);
}

.top-footer{
    min-height: 120px;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 0.8rem rgba(0, 0, 0, 0.075)!important;
}

.bottom-footer{
    min-height: 70px;
    width: 100%;
    background-color: rgba(235, 41, 41, 0.9);
}

.social-icon{
    font-size: 1.5rem;
    transition: color .4s ease-in-out;
    cursor: pointer;
}

.social-icon:hover{
    color: rgba(235, 41, 41, 0.9)
}

